.popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    visibility: hidden;
    padding: 30px 10px;
    width: 100%;
    height: 100%;
    transition: visibility 0.8s ease 0s;
    -webkit-overflow-scrolling: touch;
}
.popup::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.8s ease 0s;
}
.popup__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
.popup__body {
    padding: 50px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.popup__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
    width: 15px;
    height: 15px;
    background: url("../images/note-bg.svg") 0 0 no-repeat;
    cursor: pointer;
}
.popup.show {
    visibility: visible;
    overflow: auto;
}
.popup.show::before {
    opacity: 1;
}
.popup.show .popup__body {
    transform: scale(1);
}
.popup._active {
    visibility: visible;
    overflow: auto;
}
.popup._active::before {
    opacity: 1;
}
.popup._active .popup__body {
    transform: scale(1);
    transition: all 0.3s ease 0.2s;
}